/* Start change-password */
.change-password{height: 100vh;}

.change-password .main-paragraph{
    max-width: 100%;
}
@media (max-width:768px){
    .change-password .main-title{
        text-align: center !important;
    }
    .change-password .main-paragraph{
        text-align: center !important;
    }
}
.change-password .data-input {
    margin-bottom: 20px;
}

.change-password .password-input span{
    display: flex;
    justify-content: flex-end;
    color:#FF4F04;
    font-weight: 700;
    cursor: pointer;
}
.change-password  .password-toggler{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:#777
}
.change-password  .password-toggler.ar{
    left: 0 !important;
    right: unset !important;
}

.change-password input[type='submit']{
    text-align: center !important;
}


@media (max-width:768px){
    .change-password .form-main-image{
        display: none;
    }

    .change-password{
        text-align: center !important;
    }
}






@media (min-width:768px) and (max-width:1199px){
    .change-password .image-side {
        display: none;
    }
    .change-password .form-side{
        width: 90%;
        margin: 0 auto;
    }
}


/* End change-password */

/* Dark Mode Changes */
.change-password.dark{
    background-color: #111111;
}

.dark .image-cover{
    background-color: #202020;
}

.dark .image-cover .cover{
    opacity: 0.7;
}


/* Dark Mode Changes */

