
/* Start Forgot Password */
.forgot-password{height: 100vh;}

.forgot-password .data-input {
    margin-bottom: 35px;
}
.forgot-password .form-main-image img{
    max-width: 100%;
}

.forgot-password .main-paragraph{
    margin-bottom: 60px;
    
}

.forgot-password .main-paragraph.ar{
    max-width: 100%;
}
@media (max-width:768px){

    .forgot-password .form-main-image{
        display: none;
    }

    .forgot-password{
        text-align: center !important;
    }
    .forgot-password .main-title{
        text-align: center;
        margin-top: 120px;
    }
}



@media(max-width:768px){
    .forgot-password .main-title{
        text-align: center;
        margin-top: 30px;
        font-size: 25px;
    }

    .forgot-password.main-paragraph{
        max-width: 100%;
        text-align: center;
        font-size: 15px;
    }

}


@media (min-width:768px) and (max-width:1199px){
    .forgot-password .image-side {
        display: none;
    }
    .forgot-password .form-side{
        width: 90%;
        margin: 0 auto;
    }
    .forgot-password .main-paragraph{
        max-width: 100%;
        text-align: center;
    }
    .forgot-password .main-title{
        text-align: center;
    }
    .forgot-password input[type="submit"]{
        margin-top: 20px;
    }
}
/* End Forgot Password */

/* Dark Mode Changes */
.forgot-password.dark{
    background-color: #111111;
}

/* Dark Mode Changes */
