.not-found{
    height: 100vh;
}

.go-home{
    box-shadow: 0 15px 30px 0 rgba(20, 102, 204, 0.16);
    background-image: linear-gradient(to left, #8743ff, #4136f1);
    color:#fff;
    padding: 10px 30px !important;
    font-size: 18px;
    height: 58px;
    border:0;
    border-radius: 15px;
}

.not-found .main-paragraph{
    max-width: 100%;
}

.not-found .mr-auto{
    display: flex;
    margin-right: 0 !important;
    margin: 0 auto;
    align-items: center;
}

@media (max-width: 767px) {
    .not-found-content .form-main-image img {
        width: 80%;
        display: block;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .error-404-message{
        padding: 0 30px;
    }
    .not-found .logo{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 1200px) and (max-width:1400px){

    .not-found-content .form-main-image img {
        width: 80%;
    }
    .not-found-content .main-paragraph{
        font-size: 20px;
    }
}

@media (min-width:768px) and (max-width:1999px){
    .not-found-content .form-main-image img {
        width: 80%;
        display: block;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .not-found-content{
        flex-direction: column;
        text-align: left;
        justify-content: center;
    }

    .not-found-content .main-paragraph{
        font-size: 20px;
        width: 100%;
    }

}

.not-found-content{
    display: flex;
    align-items: center;
    height: 65vh;
    flex-direction: row;
}


/* Dark Mode Changes */
.not-found.dark{
    background-color: #111111;
}
/* Dark Mode Changes */