
/* Start reset Password */
.reset-password-page {height: 100vh;}

.reset-password-page .main-paragraph.ar{
    max-width: 100%;
}
.reset-password-page  .data-input {
    margin-bottom: 35px;
}
.reset-password-page  .form-main-image img{
    max-width: 100%;
}

.reset-password-page  .main-paragraph{
    margin-bottom: 60px;
}
.reset-password-page  .password-toggler{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:#777
}
.reset-password-page  .password-toggler.ar{
    left: 0 !important;
    right: unset !important;
}

@media (max-width:768px){

    .reset-password-page  .form-main-image{
        display: none;
    }

    .reset-password-page {
        text-align: center !important;
    }
    .reset-password-page  .main-title{
        text-align: center;
        margin-top: 120px;
    }
}



@media(max-width:768px){
    .reset-password-page  .main-title{
        text-align: center;
        margin-top: 30px;
        font-size: 25px;
    }

    .reset-password-page .main-paragraph{
        max-width: 100%;
        text-align: center;
        font-size: 15px;
    }

}


@media (min-width:768px) and (max-width:1199px){
    .reset-password-page  .image-side {
        display: none;
    }
    .reset-password-page  .form-side{
        width: 90%;
        margin: 0 auto;
    }
    .reset-password-page  .main-paragraph{
        max-width: 100%;
        text-align: center;
    }
    .reset-password-page  .main-title{
        text-align: center;
    }
    .reset-password-page  input:not([type="submit"]){
        margin-bottom: 20px;
    }
}
/* End reset Password */

/* Dark Mode Changes */
.reset-password-page.dark{
    background-color: #111111;
}

/* Dark Mode Changes */
