.map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.map-container .container {
  height: 80vh;
}

.map-container .mapboxgl-map {
  z-index: 3000;
}
.map-container .close-map {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 6000;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.map-container .close-map svg {
  width: 30px;
}
.store-profile-image {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 10px;
}

.store-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.store-type {
  font-size: 25px;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  text-transform: uppercase;
  position: relative;
  transition: 0.2s;
  cursor: default;
}
.store-type > div {
  position: relative;
  z-index: 3;
}

.store-type::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background-color: var(--main-color);
  z-index: 1;
  transition: 0.5s transform ease-in-out;
  transform-origin: bottom right;
  transform: scaleX(0);
}

.store-type:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.store-type:hover {
  color: #fff;
}

.flex-input {
  display: flex;
  margin-bottom: 30px;
  gap: 30px;
}
@media (max-width: 767px) {
  .flex-input {
    flex-direction: column;
  }
}

.flex-input > div {
  flex: 1;
}

textarea {
  resize: none;
}

.store-contact {
  padding: 20px 0;
}

.store-contact span {
  font-size: 18px;
  font-weight: 500;
  color: #555;
}

.store-contact .social-btns {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.store-contact .social-btns svg {
  border-radius: 10px;
}

.store-contact .insta-icon {
  width: 64px;
  height: 64px;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-contact .insta-icon svg {
  fill: #fff;
  height: 34px;
  width: 35px;
}
.store-contact .social-btns .map-open {
  width: 64px;
  height: 64px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 100, 120);
  cursor: pointer;
}
.store-contact .social-btns .map-open svg {
  width: 40px;
  color: #fff;
}

.store-products {
  padding: 40px 0;
}

.store-products > span {
  font-size: 18px;
  font-weight: 500;
  color: #555;
  margin-bottom: 40px;
  display: block;
}

.store-products .store-products-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, auto));
  row-gap: 20px;
}

@media (max-width: 480px) {
  .store-products .store-products-items {
    grid-template-columns: repeat(auto-fill, minmax(230px, 300px));
    justify-content: center;
  }
}

.store-products .store-products-items .product {
  width: auto;
}

.pagination-btns {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}

.pagination-btns button {
  width: 120px;
  border: none;
  background-image: linear-gradient(to left, #8743ff, #4136f1);
  padding: 10px 0;
  border-radius: 20px;
  color: #fff;
  position: relative;
  z-index: 300;
}

.pagination-btns button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  opacity: 1;
  transition: 0.5s all;
  background-color: transparent;
  border-radius: 20px;
  z-index: -1;
  box-shadow: 0 0px 18px #8743ff;
}

.pagination-btns button:active::before {
  transform: scale(1.5);
  opacity: 0;
}

/* Dark mode changes */

.dark .store-type,
.dark .store-products > span,
.dark .store-contact > span {
  color: #bbb;
}

.dark .store-type:hover {
  color: #fff;
}
